
.reset-page {
    display: flex;
    width: 100%;
    height: 110vh;
}

.reset-card, .reset-image {
    flex: 1; /* This will make each div take up 50% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-card {
    background-color: #f8f9fa; /* Optional: Background color for visual distinction */
}

.reset-image img {
    max-width: 100%;
    height: auto;
}

/* Ensuring the logos are centered within the card body */
.reset-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 20px;
}

.card-logo1 {
    width: 100%;
}

.card-logo img{
    width: 60%;
}

.card-logo1 img{
    width: 5%;
}

.card-logo2 img{
    width: 10%;
}

.card-logo3 img{
    width: 15%;
}

.card-forms{
    padding: 50px;
    border-radius: 30px;
    margin-top: 1rem;
    background-color: #00D3EB; 
}


.card-forms h5 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F6CAB;
}



